@using System.Globalization
@model StockEmployeesViewModel
@{
    ViewData["Title"] = "StockDetails";
    IFormatProvider theCultureInfo = new System.Globalization.CultureInfo("lv", true);
}

<div class="container">
    <div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page"><a asp-controller="StockData" asp-action="List">Stocks</a></li>
                <li class="breadcrumb-item active" aria-current="page">@Model.StockEmployeesModel.Select(x => x.StockName).FirstOrDefault()</li>
            </ol>
        </nav>
    </div>

    <div class="fixed-table-container">
        <table class="table table-striped" id="stockDetailsTable">
            <thead>
            <tr>
                <th>Document Number</th>
                <th>Employee</th>
                <th>Quantity</th>
                <th>Type</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody>
            @{
                System.Diagnostics.Debug.Assert(Model != null, nameof(Model) + " != null");
                System.Diagnostics.Debug.Assert(Model.StockEmployeesModel != null, "Model.StockEmployeesModel != null");
            }
                @foreach (var item in Model.StockEmployeesModel)
            {
                <tr id="data_@item.Id">
                    @if (item.DocumentNumber != null)
                    {
                        <td>@string.Join("", string.Format("{0:000}", item.DocumentNumber), item.DocumentSerialNumber)</td>
                    }
                    else
                    {
                        <td>@item.DocumentSerialNumber</td>
                    }
                    <td>@item.Employee</td>
                    <td>@String.Format(CultureInfo.InvariantCulture, "{0:0.00}", item.Quantity)</td>
                    <td>@item.StockType</td>
                    <td>@item.Created.ToString("dd.MM.yyyy HH:mm")</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
@*     <div class="row justify-content-end pr-3">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                @if (Model.EndPage > 9)
                {
                    <li class="page-item"><a class="page-link search-link" asp-controller="ScannedData" asp-action="Details" asp-route-pageId="1">1</a></li>
                    <li class="page-item disabled"><a class="page-link">...</a></li>
                }
                @for (var i = Model.StartPage; i <= Model.EndPage; i++)
                {
                    var activePage = (Model.PageIndex == i) ? "active" : ""; 
                    <li class="page-item @activePage"><a class="page-link search-link" asp-controller="ScannedData" asp-action="Details" asp-route-pageId="@i">@i</a></li>

                }
                @if (Model.EndPage >= 9 && Model.EndPage < Model.TotalPages)
                {
                    <li class="page-item disabled"><a class="page-link">...</a></li>
                    <li class="page-item"><a class="page-link search-link" asp-controller="ScannedData" asp-action="Details" asp-route-pageId="@Model.TotalPages">@Model.TotalPages</a></li>
                }
            </ul>
        </nav>
    </div> *@
</div>

@section Scripts{
    <script src="~/js/stockDataDetails.js" asp-append-version="true"></script>
}