@model InventoryDataViewModel
@{
    ViewData["Title"] = "InventoryData";
}

<div class="container">
    <div class="row pb-3">
        <div class="col"></div>
        <div class="col nav justify-content-end">
            <div class="input-group">
                <input type="text" name="searchInventoryData" id="searchInventoryDataId" value="@Model.SearchText" class="form-control" placeholder="Search...">
                <button type="button" class="btn bg-transparent" style="margin-left: -40px; z-index: 100;" id="btnInventoryDataClearSearch">
                    <i class="fa fa-times"></i>
                </button>
                <a id="btnSearchInventoryData" class="btn btn-primary search-link" asp-controller="InventoryData" asp-action="List" asp-route-id="1" asp-route-searchText="dummyText">Search</a>
                <button type="button" id="newInventoryDataButton" class="btn btn-success btn-margin-left" data-toggle="modal" data-target="#newInventoryDataModal">Add Inventory Doc</button>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="alert-container-fixed">
            <alerts></alerts>
        </div>
    </div>
    <div class="fixed-table-container" id="divTable" style="display: none;">
        <table class="table" id="InventoryTable">
            <thead>
                <tr>
                    <th>First checker</th>
                    <th>Second checker</th>
                    <th>Employee</th>
                    <th>Status</th>
                    <th>Started</th>
                    <th>Finished</th>
                </tr>
            </thead>
            <tbody>
                @{
                    System.Diagnostics.Debug.Assert(Model != null, nameof(Model) + " != null");
                    System.Diagnostics.Debug.Assert(Model.InventoryDataModel != null, "Model.InventoryDataModel != null");
                    TimeZoneInfo tzi = TimeZoneInfo.FindSystemTimeZoneById("Pacific Standard Time");
                }

                @foreach (var item in Model.InventoryDataModel)
                {
                    <tr id="data_@item.Id">
                        <td>@item.Employee1Checker</td>
                        <td>@item.Employee2Checker</td>
                        <td>@item.ScannedEmployee</td>
                        <td>@item.Status</td>
                        <td data-order="@item.Created.ToString("MMddyyyyHHmmss")">@item.Created.ToString("dd.MM.yyyy HH:mm")</td>
                        <td data-order="@item.Finished?.ToString("MMddyyyyHHmmss")">@item.Finished?.ToString("dd.MM.yyyy HH:mm")</td>
                        <td align="right">
                            <a class="btn btn-outline-primary"
                               role="button"
                               aria-pressed="true"
                               asp-controller="InventoryData"
                               asp-action="Details"
                               asp-route-id="@item.Id">Details</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="row justify-content-end pr-3">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                @if (Model.EndPage > 9)
                {
                    <li class="page-item"><a class="page-link search-link" asp-controller="InventoryData" asp-action="List" asp-route-pageId="1">1</a></li>
                    <li class="page-item disabled"><a class="page-link">...</a></li>
                }
                @for (var i = Model.StartPage; i <= Model.EndPage; i++)
                {
                    var activePage = (Model.PageIndex == i) ? "active" : "";
                    <li class="page-item @activePage"><a class="page-link search-link" asp-controller="InventoryData" asp-action="List" asp-route-pageId="@i">@i</a></li>

                }
                @if (Model.EndPage >= 9 && Model.EndPage < Model.TotalPages)
                {
                    <li class="page-item disabled"><a class="page-link">...</a></li>
                    <li class="page-item"><a class="page-link search-link" asp-controller="InventoryData" asp-action="List" asp-route-pageId="@Model.TotalPages">@Model.TotalPages</a></li>
                }
            </ul>
        </nav>
    </div>
</div>

@* <partial name="AddinventoryData" />
<partial name="UpdateinventoryData" />
<partial name="DeleteinventoryData" /> *@

@section Scripts {
    <script src="~/js/inventoryData.js" asp-append-version="true"></script>
}