@using System.Globalization
@model ScannedDataViewModel
@{
    ViewData["Title"] = "ScannedData";
}

<div class="container">
    <div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page"><a asp-controller="DocumentData" asp-action="List">Document</a></li>
                <li class="breadcrumb-item active" aria-current="page">Scanned</li>
            </ol>
        </nav>
    </div>
    
    <div class="container body-content">
        <div class="alert-container-fixed">
            <alerts></alerts>
        </div>
    </div>

    <div class="pb-3 nav justify-content-end">
        <button type="button" id="newScannedDataButton" class="btn btn-success" data-toggle="modal" data-target="#newScannedDataModal">Add Scanned Data</button>
    </div>

    <div class="fixed-table-container">
        <table class="table">
            <thead>
            <tr>
                <th>Document Number</th>
                <th>Stock name</th>
                <th>Item number</th>
                <th>Plucode</th>
                <th>Quantity</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @{
                System.Diagnostics.Debug.Assert(Model != null, nameof(Model) + " != null");
                System.Diagnostics.Debug.Assert(Model.ScannedDataModel != null, "Model.ScannedDataModel != null");
            }
            @foreach (var item in Model.ScannedDataModel)
            {
                <tr id="data_@item.Id">
                    @if (item.DocumentNumber != null)
                    {
                        <td>@string.Join("", string.Format("{0:000}", item.DocumentNumber), item.DocumentSerialNumber)</td>
                    }
                    else
                    {
                        <td>@item.DocumentSerialNumber</td>
                    }
                    <td style="max-width: 300px;">@item.Name</td>
                    <td>@item.ItemNumber</td>
                    <td>@item.PluCode</td>
                    <td>@String.Format(CultureInfo.InvariantCulture, "{0:0.00}", item.Quantity)</td>
                    <td align="right">
                        <button type="button"
                                class="btn btn-warning"
                                data-toggle="modal"
                                data-target="#editScannedDataModal"
                                data-id="@item.Id"
                                data-Documentdataid="@Context.GetRouteData().Values["id"]"
                                data-externaldataid="@item.ExternalDataId"
                                data-quantity="@item.Quantity"
                                data-quantitystring="@item.Quantity">Edit</button>
                        <button type="button"
                                class="btn btn-danger"
                                data-toggle="modal"
                                data-target="#deleteScannedDataModal"
                                data-id="@item.Id"
                                data-Documentdataid="@Context.GetRouteData().Values["id"]">Delete</button>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    <div class="row justify-content-end pr-3">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                @if (Model.EndPage > 9)
                {
                    <li class="page-item"><a class="page-link search-link" asp-controller="ScannedData" asp-action="Details" asp-route-pageId="1">1</a></li>
                    <li class="page-item disabled"><a class="page-link">...</a></li>
                }
                @for (var i = Model.StartPage; i <= Model.EndPage; i++)
                {
                    var activePage = (Model.PageIndex == i) ? "active" : ""; 
                    <li class="page-item @activePage"><a class="page-link search-link" asp-controller="ScannedData" asp-action="Details" asp-route-pageId="@i">@i</a></li>

                }
                @if (Model.EndPage >= 9 && Model.EndPage < Model.TotalPages)
                {
                    <li class="page-item disabled"><a class="page-link">...</a></li>
                    <li class="page-item"><a class="page-link search-link" asp-controller="ScannedData" asp-action="Details" asp-route-pageId="@Model.TotalPages">@Model.TotalPages</a></li>
                }
            </ul>
        </nav>
    </div>
</div>

<partial name="AddScannedData" />
<partial name="UpdateScannedData" />
<partial name="DeleteScannedData" />

@section Scripts{
    <script src="~/js/scannedData.js" asp-append-version="true"></script>
}