@model DocumentDataViewModel

<div id="DocumentDataModal" class="modal-body">
    <form asp-action="InsertDocumentData" asp-controller="DocumentData" data-ajax-method="POST" data-ajax="true" data-ajax-complete="DocumentDataModalComplete">
        <div id="newDocumentDataModal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add new document</h5>
                    </div>
                    <div class="modal-body" id="DocumentDataModalDetails">
                        <div class="form-group">
                            <label asp-for="Employee1Id" class="control-label"><b>Nodeva</b></label>
                            <select asp-for="Employee1Id" class="form-control">
                                <option value="0" selected="selected">-Choose-</option>
                                @if (Model is { Employees: { } })
                                {
                                    @foreach (var item in Model.Employees.OrderBy(x => x.Name))
                                    {
                                        <option value="@item.Id">@item.Name @item.Surname @item.Code @item.Email</option>
                                    }
                                }
                            </select>
                            <span asp-validation-for="Employee1Id" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Employee2Id" class="control-label"><b>Pieņēma</b></label>
                            <select asp-for="Employee2Id" class="form-control">
                                <option value="0" selected="selected">-Choose-</option>
                                @if (Model is { Employees: { } })
                                {
                                    @foreach (var item in Model.Employees.OrderBy(x => x.Name))
                                    {
                                        <option value="@item.Id">@item.Name @item.Surname @item.Code @item.Email</option>
                                    }
                                }
                            </select>
                            <span asp-validation-for="Employee2Id" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input id="btnSubmit" type="submit" value="Submit" class="btn btn-primary" />
                        <button id="DocumentDataModalClose" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
