@model DocumentDataViewModel
@{
    var pageId = "1";
    if (Context.Request.Query.TryGetValue("pageId", out var pageIdValue))
    {
        pageId = pageIdValue;
    }
}

<div id="editDocumentDataModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form asp-action="UpdateDocumentData" asp-controller="DocumentData" data-ajax-method="POST" data-ajax="true" data-ajax-complete="DocumentDataModalComplete" novalidate>
                <div class="modal-header">
                    <h5 class="modal-title">Edit Document document</h5>
                </div>
                <div class="modal-body" id="DocumentDataModalDetails">
                    <input type="hidden" name="Id" class="form-control" id="id" value="@Model.Id" />
                    <input type="hidden" name="PageId" class="form-control" id="pageId" value="@pageId" />
                    <div class="form-group">
                        <label asp-for="Employee1Id" class="control-label">Returned</label>
                        <select asp-for="Employee1Id" id="employee1Id" class="form-control">
                            <option value="0">-Choose-</option>
                            @if (Model is {Employees: { } })
                            {
                                @foreach (var item in Model.Employees)
                                {
                                    <option value="@item.Id">@item.Name @item.Surname @item.Code</option>
                                }
                            }
                        </select>
                        <span asp-validation-for="Employee1Id" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Employee2Id" class="control-label">Took</label>
                        <select asp-for="Employee2Id" id="employee2Id" class="form-control">
                            <option value="0">-Choose-</option>
                            @if (Model is {Employees: { } })
                            {
                                @foreach (var item in Model.Employees)
                                {
                                    <option value="@item.Id">@item.Name @item.Surname @item.Code</option>
                                }
                            }
                        </select>
                        <span asp-validation-for="Employee2Id" class="text-danger"></span>
                    </div>
@*                     <div class="form-group">
                        <label asp-for="Created" class="control-label">Created</label>
                        <input asp-for="Created" id="created" class="form-control" />
                        <span asp-validation-for="Created" class="text-danger"></span>
                    </div> *@
                </div>
                <div class="modal-footer">
                    <input id="btnSubmit" type="submit" value="Submit" class="btn btn-primary" />
                    <button id="btnClose" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

@* <script>
    var today = new Date().toISOString();
    var input = document.getElementById("created");
    input.setAttribute("max", today);

    input.addEventListener("input", function () {
        var value = new Date(input.value),
            max = new Date(input.max);

        if (value > max) {
            input.innerHTML = 'Please enter a value less than ' max.toDateString();
            input.style.display = 'inherit';
        } else {
            input.style.display = 'none';
        }
    });
</script> *@